<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-4" style="width: 350px;">
    <div class="card-body text-center">
      <h4 class="mb-4">Login</h4>

      <mat-form-field class="w-100 mb-3">
        <mat-label>Correo</mat-label>
        <input type="text" matInput placeholder="nombre de usuario" [(ngModel)]="correo">
      </mat-form-field>

      <button mat-button mat-flat-button color="primary" class="w-100" (click)="onLoginCorreo()">
        <mat-icon>login</mat-icon> Acceder
      </button>

      <div class="mt-4">
        <a routerLink="/auth/new-account">No tengo cuenta de usuario</a>
      </div>
    </div>
  </div>
</div>
