<!-- Si tiene una peli, saca los detalles de ella -->
<div *ngIf="PeliculaDetails" class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid rounded" [src]="'https://image.tmdb.org/t/p/w500' + PeliculaDetails.poster_path" [alt]="PeliculaDetails.title">
    </div>
    <div class="col-md-8">
      <h1>{{ PeliculaDetails.title }}</h1>
      <h4>{{ PeliculaDetails.original_title }} ({{ PeliculaDetails.release_date | date:'yyyy' }})</h4>
      <p><strong>Idioma original:</strong> {{ PeliculaDetails.original_language }}</p>
      <p><strong>Popularidad:</strong> {{ PeliculaDetails.popularity }}</p>
      <p><strong>Puntaje:</strong> {{ PeliculaDetails.vote_average }} / 10 ({{ PeliculaDetails.vote_count }} votos)</p>
      <p><strong>Sinopsis:</strong> {{ PeliculaDetails.overview }}</p>

      <!-- Dependiendo de si la variable favoritos está o no, muestra para añadir o eliminar -->
      <button *ngIf="favorito" mat-button (click)="eliminarFavoritos(PeliculaDetails.id)">
        <mat-icon>delete</mat-icon> Eliminar de favoritos
      </button>

      <button *ngIf="!favorito" mat-button (click)="anadirFavoritos(PeliculaDetails.id)">
        <mat-icon>star</mat-icon> Añadir a favoritos
      </button>
    </div>

    <!-- Dependiendo de si la variable favoritos está o no, muestra para volver a favoritos o a busqueda -->

    <button mat-button routerLink="/peliculas/favoritos" *ngIf="favorito">
      <mat-icon>arrow_back</mat-icon> Volver al favoritos
    </button>
    <button mat-button routerLink="/peliculas/search" *ngIf="!favorito">
      <mat-icon>arrow_back</mat-icon> Volver al buscador
    </button>
  </div>
</div>
